@charset "UTF-8";

@media (max-width: 815px) {

    /*-  Globals  -*/

    /*-  Header with NavBar  -*/

    /* Section - Infos */
    #joao aside {
        flex-direction: column;
    }

    #joao h1 {
        font-size: 2.1em;
        width: 300px;
    }

    #joao h2 {
        font-size: 1.9em;
        width: 330px;
    }

    #joao img {
        margin-top: 25px;
    }

    #joao article p {
        text-align: center;
    }


    /*- Projects -*/
    #projetos h2 {
        margin-bottom: 20px;
    }

    .card img {
        width: 140px;
        height: 80px;
        margin-left: 57%;
    }

    .card div {
        padding: 10px;
    }

    .card div h3 {
        font-size: 0.9em;
    }

    .card h3:last-of-type{
        width: 210px;
    }

    .card div p{
        font-size: 0.8em;
    }

    .card span {
        display: inline;
        text-shadow: 0px 0px 8px rgba(0, 0, 255, 0.6);
    }


    /*- Caertify  -*/
    #certificados article{
        width: 80vw;
    }

    /*-  Footer  -*/
    #contatos #logo {
        width: 150px;
    }

    #contatos li img {
        width: 20px;
    }

    #contatos li a {
        font-size: 0.9em;
    }

}

@media (max-width: 580px) {
    .card h3 {
        font-size: 0.9em;
    }

    .card p{
        font-size: 0.8em;
    }
}