@charset "UTF-8";

@media (max-width: 1400px) {

    /*-  Globals  -*/
    .component h2 {
        margin-bottom: 30px;
        font-size: 2.5em;
    }


    /*-  Header with NavBar  -*/
    header section { 
        padding: 10px;
        font-size: 1em;
    }

    header nav {
        width: 110px;
    }


    /* Section - Infos */
    #joao img {
        width: 370px;
    }

    #joao article p {
        font-size: 1.1em;
    }


    /*- Tecnologyes  -*/

    #tecnologias img.width-40 {
        width: 35px;
    }
    
    #tecnologias img.width-65 {
        width: 45px;
    }
    
    #tecnologias a {
        width: 50px;
    }


    /*-  Section-"Sobre"  -*/
    #sobre p, #sobre li {
        font-size: 1em;
    }


    /*- Projects -*/
    #projetos h2 {
        margin-bottom: 20px;
    }

    .card img {
        width: 230px;
    }

    .card h3 {
        font-size: 1.1em;
    }

    .card p {
        font-size: 1em;
    }


    /*- Caertify  -*/
    .certificado {
        width: 240px;
    }

    .certificado img {
        height: 140px;
    }

    /*-  Footer  -*/
    #contatos #logo {
        width: 250px;
    }

    #contatos li img {
        width: 30px;
    }

}