@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor01: #f0f0f0;
    --cor02: #131313;
    --cor03: #333333;
    --cor04: #000;
    --tema: #1ED760;
    
    --shadow-tema: rgba(30, 215, 95, 0.6);
    --shadow: hsla(0, 0%, 0%, 0.3);

    --radius05: 5px;
    --radius10: 10px;

    --font01: 'Pt Sans Caption', Geneva, Tahoma, sans-serif;
    --font02: 'Josefin Slab', Tahoma, Geneva, Verdana, sans-serif;
}

/*-  Globals  -*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: var(--font02);
}

body {
    background: var(--cor04);
}

/*---------- HEADER -------------*/

#header {
    width: 100%;
    position: fixed;
}

@media (min-width: 480px) and (max-width: 10000px) {
    #header {
        top: 20px;
    }
}

#header > section {
    width: 90%;
    margin: auto;
    padding: 15px;
    background: var(--cor03);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: var(--radius05);
}

#header > section > nav {
    width: 110px;
    padding: 5px;
    border-radius: var(--radius05);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s;
}

#header > section > nav:hover {
    background: var(--tema);
    box-shadow: 0px 3px 15px var(--shadow-tema);
}

#header a {
    font-family: var(--font01);
    text-decoration: none;
    color: var(--cor01);
    font-weight: 600;
}

img {
    width: 40px;
}


/*------------------------- Infomações (Banner) ----------------------------------*/

#intro {
    border: 1px solid var(--cor01);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#intro {
    #infos, #skills {
        background: var(--cor02);
        border-radius: var(--radius10);
        padding: 10px;
    }
} 

#head-infos,
#body-infos,
#img,
#links,
#tec {
    background: var(--cor03);
    padding: 20px;
    border-radius: var(--radius05);
}


#infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--font02);
    color: var(--cor01);

    #head-infos, #body-infos {
        width: 350px;
    }

    p {
        width: 280px;
    }

    #head-infos{

        p:nth-child(1) {
            font-size: 2rem;
        }

        p:nth-child(2) {
            font-size: 1.5rem;
        }

        p:nth-child(3) {
            font-size: 1.25rem;
            font-weight: bold;
            color: var(--tema);
            text-align: right;
            margin-bottom: 0px;
        }
    }

    #body-infos {
        width: 100%;
        line-height: 1.375rem;

        span {
            font-weight: bold;
        }

        #ver-mais {
            display: block;
            margin: 20px auto 0 auto;
            background: var(--tema);
            color: var(--cor01);
            text-shadow: 2px 2px 8px var(--shadow);
            font-weight: 600;
            padding: 8px;
            font-size: 0.875rem;
            outline: none;
            border-radius: var(--radius10);
            border: none;
            cursor: pointer;

            transition: background 0.3s, outline 0.3s, box-shadow 0.3s;

        }

        #ver-mais:hover {
            background-color: var(--cor02);
            outline: 1px solid var(--cor01);
            box-shadow: 0px 3px 15px var(--shadow-tema);
        }
    }
}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    #comunica {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #img {
            width: 320px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 250px;
                border: 5px solid var(--cor01);
                outline: 3px solid var(--tema);
                border-radius: 50%;
            }
        }

        #links {
            width: 320px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            a {
                font-size: 0;
                text-decoration: none;
                background: var(--cor02);
                padding: 10px;
                border-radius: var(--radius05);

                transition: background 0.3s, box-shadow 0.3s;

                img {
                    width: 36px;
                }
            }

            a:hover {
                background-color: var(--tema);
            }
        }
    }

    #tecnology {
        #tec {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 396px;

            a {
                background: var(--tema);
                padding: 8px;
                text-decoration: none;
                font-size: 0px;
                border-radius: var(--radius05);

                transition: background 0.3s, outline 0.3s, box-shadow 0.3s;

                img {
                    width: 20px;
                }
            }

            a:hover {
                background-color: var(--cor02);
                outline: 1px solid var(--cor01);
            }
        }
    }

    #links a:hover, #tecnology a:hover {
        box-shadow: 0px 3px 15px var(--shadow-tema);
    }   
}

/* ------------- Projetos ---------------*/

#projetos {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor04);

    #centro_projetos {
        background: var(--cor03);
        width: 650px;
        padding: 15px;
        border-radius: var(--radius10);
    }

    #head_projs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        h2 {
            display: inline;
            color: var(--cor01);
        }

        a {
            text-decoration: none;
            padding: 5px;
            margin-left: 10px;
            font-size: 0;
            border-radius: var(--radius05);
        
            transition: background 0.4s, box-shadow 0.4s;
        }

        img {
            width: 30px;
        }

        @media (min-width: 500px) {
    
            a:hover {
                background: var(--tema);
                box-shadow: 0px 3px 15px var(--shadow-tema);
            }
        }
    }

    #cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        .card_proj {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        
            border-radius: var(--radius10);

            img {
                width: 100%;
                border-radius: var(--radius10);
            }

            p {
                color: var(--cor01);
                padding: 30px 15px 10px 15px;
                width: 100%;
                height: 100%;
                border-radius: var(--radius10);
                background: rgba(0, 0, 0, 0.4);
                font-size: 0.75rem;
            }

            p span {
                display: block;
                font-weight: bold;
                font-size: 0.875rem;
                margin-bottom: 4px;
            }
        }

        @media (min-width: 500px) {
            .card_proj {
                position: relative;
                overflow: hidden;
                cursor: pointer;

                p {
                    position: absolute;
                    bottom: -100%;
                    transition: bottom 0.3s ease;
                }
            }

            .card_proj:hover {
                outline: 2.5px solid var(--tema);
            }
            
            .card_proj:hover p {
                bottom: 0;
            }
        }
    }
}


/* ---------------- Certificados ------------*/

#cursos {
    width: 100%;
    height: 100vh;
    background: var(--cor04);
    display: flex;
    justify-content: center;
    align-items: center;

    article {
        width: 700px;
        background: var(--cor03);
        border-radius: var(--radius10);
        padding: 20px;
        margin: auto;
    }

    #titulo-cert {
        text-align: center;
        color: var(--cor01);
        margin-top: 15px;
    }
}

#lista-certific {
    padding: 10px 30px;

    li {
        list-style: url('../../assets/vetores/star.svg');
        margin: 8px 0px 8px 15px;

        a {
            text-decoration: none;
            color: var(--cor01);
            font-family: var(--font01);
        
            transition: text-shadow 0.2s, font-size 0.2s, margin-left 0.2s;
        }

        a:hover {
            text-shadow: 2px 5px 12px var(--shadow-tema);
            font-size: 1.01rem;
            margin-left: 2px;
        }

        img {
            width: 18px;
        }
    }
}



