.artigos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardartigo {
  max-width: 700px;
  margin: 5px;
  border: 1px solid;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}