.experimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}

.mainexp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.imagesexpo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagesexpo img {
  max-width: 300px;
  height: 180px;
  border-radius: 5px;
}

.exptexto {
  background: #212529;
  padding: 10px;
  color: white;
  border-radius: 5px;
  max-width: 300px;
  height: 370px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}