@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.sec {
    background: rgb(207, 207, 207);
    min-height: 100vh;
    min-width: 100%;
}

.sectitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.sectitle img {
  width: 35px;
  stroke: #212529;
}

.detalhes {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.detalhes a {
  background: #333333;
  border: 1px solid #4e4e4e;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.detalhes a:hover {
  transform: translate(2px, 2px) rotate(3deg);
  transition: 0.2s;
}