.projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainproj {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 300px;
}

.imgproj {
  width: 100%;
  height: 160px;
}

.imgproj img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.text {
  color: white;
  background: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
}

.text h3 {
  height: 80px;
}

.text p {
  text-align: justify;
  height: 140px;
}

