@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cor01: #e3e4e8;
    --cor02: rgb(172, 172, 172);
    --cor04: #1b263b;
    --cor05: black;

    --font: 'Ubuntu';
}

/*------------------- global -------------------------*/

html {
    font-family: var(--font);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
}


/*------------------- NAV-Bar ---------------------------*/


header {
    width: 100%;
    padding: 10px;
    background-color: #1b263b;
    position: fixed;
    top: 0px;
    box-shadow: rgba(1, 184, 1, 0.292) 0px 0px 12px;
    transition: 0.4s;
}

#nav-bar {
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}

#nav-bar a{
    color: rgb(1, 184, 1);
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    width: 120px;
    
    /* background-color: antiquewhite; */
}

.light-green {
    width: 15%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(1, 184, 1);
    box-shadow: rgb(1, 184, 1) 0px 0px 10px;
    margin: 5px auto;
}



/*------------------- start --------------------------*/

#apresentacao {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#joao img {
    width: 300px;
    border-radius: 200px;
    border: 4px solid rgb(34, 243, 34);
}

#apresentacao article {
    padding: 30px;
    margin: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background-color: #e3e4e8;*/
}

#apresentacao article:last-of-type {
    margin: 100px 5px;
    padding: 10px 0;
    width: 400px;
}

#eu {
    color: rgba(1, 184, 1);
    font-size: 1.5em;
    text-align: right;
    width: 360px;
    padding: 20px 10px;
    margin: 10px;
}

.redes {
    max-width: 300px;
    /*background-color: #e3e4e8;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.redes a {
    text-decoration: none;
}

.redes img {
    max-width: 60px;
    padding: 5px;
    margin: 7px;
}


/*------------------------ sobre -----------------*/
#sobre, #projeto, #certificado{
    background-color: #c8c8c8;
    width: 1000px;
    margin: 120px auto;
    padding: 30px;
    box-shadow: 
    5px 5px 0px rgb(1, 184, 1),
    -5px -5px 0px rgb(1, 184, 1),
    -5px 5px 15px rgb(0, 255, 4, 0.6),
    5px -5px 15px rgba(0, 255, 4, 0.6);
}

#sobre h2 {
    text-align: center;
    margin-bottom: 15px;
} 

#sobre p {
    line-height: 24px;
    text-align: justify;
}

#sobre ul {
    margin: 15px auto 15px 40px;
}

#sobre li {
    margin: 8px 0;
    font-weight: 600;
    color: green;
}

/*------------------------ projetos -----------------*/

#projeto h2 {
    margin: 10px auto 20px auto;
    text-align: center;
    width: 100%;
}

#projeto article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label h3 {
    width: 100%;
    text-align: center;
    height: 20px;
    margin: 20px auto 25px auto;
    font-size: 1.13em;
}

.card {
    width: 300px;
    height: 530px;
    padding: 20px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}

#projeto img {
    width: 260px;
    height: 180px;
    margin: 15px auto 30px auto;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0 , 0, 0.45);
}

#projeto button {
    padding: 8px;
    margin: 8px auto 10px auto;
    border-radius: 5px;
    background-color: rgb(0, 187, 255);
    border: 1px solid rgb(0, 170, 255);
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.2);
}

#projeto a {
    text-decoration: none;
    font-weight: bold;
    color: #b3fdb0;
}



/*-------------------------- certificados --------------------*/
.certificados h2 {
    text-align: center;
    margin: 15px 0;
}


.certificados img {
    width: 300px;
    height: 200px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.certificados article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certificados picture {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.certificados picture legend {
    font-weight: 400;
    width: 100%;
    margin: 5px;
}

.certificados .sorce {
    font-size: 0.9em;
}

.sorce a {
    text-decoration: none;
    color: #8338ec;
    font-weight: bold;
}

/*------------------------ footer -----------------*/
/*------------------------ footer -----------------*/

footer {
    text-align: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: #999999;
}

footer h2 {
    font-size: 1.2em;
    color: #999999;
    margin: 10px 0;
}

footer h2 a {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

footer section {
    width: 150px;
    margin: auto;
}

footer section p {
    font-weight: 500;
    margin-top: 20px;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    margin: 15px 0;
    list-style: none;
}

footer img {
    padding: 5px;
    width: 40px;
}

/*-------- SCROLL -----------*/

body::-webkit-scrollbar {
    width: 10px;   /* largura da barra */
    
  }
  
  body::-webkit-scrollbar-track {
    background: #272727; /* cor de fundo da barra */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(1, 184, 1, 0.265); 
  
    box-shadow: 0px 0px 25px rgb(0 , 255, 0);
  }


/* MEDIA QUERYS */

@media (min-width: 900px) {

    /* NAV-BAR */

    #nav-bar .hov:hover{
        transition: 0.5s;
        background-color: #ffffff1b;
        border-radius: 3px;
        box-shadow: rgba(1, 184, 1) 0px 0px 10px, rgba(1, 184, 1, 0.4) -4px -4px, rgba(1, 184, 1, 0.3) -8px -8px, rgba(1, 184, 1, 0.2) -12px -12px;
    }

    /* PROJETOS */

    .projetos article:hover {
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.242);
        border-radius: 10px;
        transition: 0.4s;
    }
}

@media (max-width: 720px) {
    
    /* NAV-BAR */

    #nav-bar {
        width: 100%;
        padding: 8px;
    }

    #nav-bar a{
        font-size: 0.9em;
        font-weight: 500;
        width: 100px;
        /*background-color: antiquewhite;*/
    }


    /*------------------- start --------------------------*/

    #apresentacao {
        margin-top: 50px;
        flex-direction: column;
    }

    #joao img {
        width: auto;
    }

    #apresentacao article {
        width: 420px;
        padding-bottom: 5px;
        /*background-color: #e3e4e8;*/
    }

    #apresentacao article:last-of-type {
        margin: 0px auto;
        padding-top: 5px;
    }


    /*------------------------ sobre -----------------*/

    #sobre, #projeto, #certificado{
        width: 420px;
        padding: 25px;
        font-size: 0.9em;
    }


    #sobre p {
        line-height: 21px;
    }

    #sobre ul {
        margin: 15px auto 15px 30px;
    }

    #sobre li {
        margin: 5px 0;
        font-weight: 500;
    }       

    /*------------------------ projetos -----------------*/

    


}

@media (max-width: 420px) {

    /* NAV-BAR */
    

    #nav-bar {
        padding: 3px;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-wrap: wrap;
    }

    #nav-bar a{
        margin: 3px 16px;
        font-size: 0.8em;
        background-color: rgb(113, 209, 113);
        color: #9d00ff;
        border-radius: 50px;
        box-shadow: rgba(0, 255, 0, 0.314) 0px 0px 8px;
    }

    #nav-bar a:active {
        background-color: #fff;
    }


    /*------------------- start --------------------------*/

    #apresentacao {
        margin-top: 100px;
        flex-direction: column;
    }

    #joao img {
        width: 200px;
    }

    #apresentacao article {
        width: 320px;
    }

    .redes img {
        width: 40px;
        padding: 3px;
        margin: 5px;
    }

    /*------------------------ sobre -----------------*/

    #sobre, #projeto, #certificado{
        width: 320px;
        padding: 20px;
        font-size: 0.86em;
    }     

    /*------------------------ projetos -----------------*/

    
}